<h1>Listing grades</h1>

<table>
  <tr>
  </tr>
  
<% for grade in @grades %>
  <tr>
    <td><%= link_to 'Show', grade_path(grade) %></td>
    <td><%= link_to 'Edit', edit_grade_path(grade) %></td>
    <td><%= link_to 'Destroy', grade_path(grade), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New grade', new_grade_path %>