<h1>New grade</h1>

<%= error_messages_for :grade %>

<% form_for(:grade, :url => course_grades_path(@course)) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', course_path(@course) %>
