<h2>Make an Announcement</h2>

<%= form_tag :action=> "save" %>

  <%= error_messages_for 'announcement' %><br/>

  <fieldset>

    <label for="announcement_title">Title:</label><br/>
    <%= text_field "announcement", "title", :size => 60 %><br/>

    <label for="announcement_content">Content:</label><br/>
    <%= text_area "announcement", "content", :rows => 5, :cols => 60 %><br/>

    <input type="submit" class="submit" value="Submit" />

  </fieldset>

</form>

<br />
