- quiz_question = @quiz.questions.detect {|x| x.question_id == question.id }

-# FIXME there has to be a better way of showing which questions are selected
-# FIXME add ferret highlighting to question and choice contents
-# FIXME previously chosen questions not showing
	
%li{:id => "question_#{question.id}", :class => (quiz_question ? "chosen-question" : "")}
  = quiz_question_links(question, quiz_question)
  = question.content

  %ol
    - question.choices.each do |choice|
      %li= choice.content rescue choice
