-#FIXME need to clean this code up a bit
%li{ :id => dom_id(question_choice), :class => choice_class(quiz_question, question_choice, @question_responses), :onclick => choice_onclick(quiz_question, question_choice)}= question_choice.content
