%h2 Roster

%table
  %thead
    %tr
      %th Student
      %th Email
      %th Last Logged On
      %th Actions

  %tbody
    - @course.students.each do |student|
      %tr
        %td= student
        %td= mail_to student.email, student.email
        %td= datetime_format student.last_login_at
        %td
          -#FIXME= link_to_remote "Reset Password", :url => reset_password_course_user_path(:course_id => @course, :id => student.id), :success => "alert(request.responseText)"
          = link_to "Remove", student, :method => :delete, :confirm => "Are you sure?"
