/*
 * colors from http://www.wellstyled.com/tools/colorscheme2/index-en.html
 * red: A94343
 * green: #43A943
 * blue: #437DA9
 * brown: #A97643
*/

* {
	margin: 0;
	padding: 0;
}

body {
	font-family:  verdana, arial, sans-serif;
	font-size: 11pt;
	background: #c0c0c0;
}

br {
	clear: both;
	height: 0;
}

em {
	font-style: oblique;
	font-weight: normal;
}

img {
	border: none;
}

h1 {
	display: block;
	margin: 0 auto;
	width: 798px;
	height: 100px;
	border: 1px solid #111;
	border-width: 0 1px;
	background: #FFF url("../images/learnstat-logo.png") no-repeat;
}

h1 span {
	display: none;
}

h2 {
	font-family: georgia, serif;
	font-size: 24px;
	padding: 5px 0 5px 10px;
  color: #373737;
}

h3 {
  font-family: georgia, serif;
  font-size: 16px;
  float: left;
  margin: 4px 10px;
}

h3 a, h3 a:link, h3 a:visited, h3 a:hover, h3 a:active {
  color: white;
}

#login_box {
  background: #696969;
  width: 650px;
  margin: 10px auto;
  border: 1px solid #333;
  padding: 0;
  color: white;
  font-family: georgia, serif;
}

.block {
	background: white;
  color: black;
  margin: 10px 15px;
  padding: 10px;
  border: 2px solid #333;
  font-family: verdana, arial, sans-serif;
  font-size: 14px;
}

#login_box .options {
  float: left;
  width: 269px;
}

#login_box p.criteria {
  margin: 0 auto 10px auto;
  text-align: center;
  border-bottom: 1px solid #111;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
}

#login_box div.form_field {
  margin-bottom: 10px;
}

#login_box div.form_field label {
  display: block;
  float: left;
  clear: left;
  text-align: right;
  margin-right: 5px;
  width: 100px;
  font-size: 10px;
  font-weight: bold;
}  

#login_box div.form_field input[type=text] { width: 150px; }
#login_box div.form_field input[type=password] { width: 150px; }

#remember_me { vertical-align: top; }

#login_box .submit {
  text-align: center;
}

div.block_head {
  color: white;
  background: url("/images/rounded_top.png") top left no-repeat;
  height: 26px;
  width: 720px;
  padding: 4px;
  border-bottom: 1px solid #333;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto;
}

div.block_body {
  background: url("/images/rounded_bottom.png") bottom left no-repeat;
  width: 708px;
  margin: 0 auto 20px auto;
  padding: 10px;
  clear: both;
}

div.block_information {
  margin: 8px 0 0 0;
  text-align: right;
  font-style: italic;
  font-size: 85%;
}

#announcements div.block_head {
  background: url("/images/rounded_medium_top.png") top left no-repeat;
  height: 20px;
  width: 450px;
  padding: 4px;
  font-size: 18px;
  font-weight: bold;
}

#announcements div.block_body {
  background: url("/images/rounded_medium_bottom.png") bottom left no-repeat;
  width: 442px;
  padding: 8px;
  margin-bottom: 20px;
}

div.small_block {
  width: 300;
  margin: 10px;
  float: right;
  clear: right;
}

div.small_block_head {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background: url("/images/rounded_small_top.png") top left no-repeat;
  height: 20px;
  width: 292px;
  padding: 4px;
  border-bottom: 1px solid #333;
}

div.small_block_body {
  background: url("/images/rounded_small_bottom.png") bottom left no-repeat;
  width: 284px;
  padding: 8px;
  margin-bottom: 20px;
}

.information {
  font-style: italic;
  font-size: 60%;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a, a.visited, a.active {
	text-decoration: none;
	color: #990000;
}

p {
	padding: 5px 10px;
}

p.instructions {
	width: 75%;
	margin: 10px;
	padding: 4px;
	border: 1px solid #999;
	color: #333;
}

ul, ol {
	margin: 10px 35px;
}

ol ol {
	list-style-type: lower-latin;
}

ul.quizzes li {
  margin-bottom: 20px;
}

#navbar a:hover, a:hover {
	color: #990000;
}

#navbar {
	margin: 0 auto;
	background: url(/images/stripes.png) bottom left repeat-x;
	width: 798px;
	border: 1px solid #111;
	border-width: 1px;
	font-weight: bold;
	font-size: 85%;
	font-variant: small-caps;
	text-align: center;
	padding: 4px 0;
}

#navbar p {
	padding: 0 4px;
	color: #f0f0f0;
}

#navbar p.left {
  float: left;
  width: 185px;
  text-align: left;
}

#navbar p.right {
  float: right;
  width: 185px;
  text-align: right;
}

#navbar #notices {
  width: 400px;
  float: left;
	color: white;
  text-align: center;
}


#navbar a {
	color: #eee;
}

#menubar {
	margin: 0 auto;
	background: url(/images/menu_gradient.png) top left repeat-x;
	width: 798px;
	border: 1px solid #111;
	border-width: 0 1px;
  font-size: 110%;
	font-weight: bold;
	font-variant: small-caps;
	text-align: center;
}

#menubar a {
  color: #e0e0e0;
  padding: 0 10px;
  display: block;
  float: left;
}

#menubar a img {
  vertical-align: bottom;
}

#menubar a:hover, #menubar a.selected {
  background: url(/images/menu_background.png) bottom left repeat-x;
  color: #111;
}

/*
#announcement_tab {
  background: url(/images/announcements.png) no-repeat;
  width: 144px;
  height: 25px;
}
*/

div#content {
  background: #fff;
	margin: 0 auto;
  padding: 6px 0;
	width: 798px;
	border: 1px solid #111;
	border-width: 0 1px;
	min-height: 200px;
	clear: both;
}

#footer {
	margin: 0 auto;
	background: url(/images/stripes.png) bottom left repeat-x;
	width: 798px;
	border: 1px solid #111;
	color: #f0f0f0;
	font-weight: bold;
	font-size: 85%;
	font-variant: small-caps;
}

#footer {
	margin: 0 auto;
  text-align: center;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  margin: 0 auto;
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

li.question {
	margin-bottom: 40px;
}

.question a {
	display: block;
	text-align: right;
}

li.added {
	border: 2px solid green;
}

li.added a {
	display: none;
}

li.answer {
}

ol.answers {
  margin-bottom: 25px;
}

ol.answers li:hover {
	cursor: pointer;
	background: #ccf;
}

ol.answers li.selected {
	color: green;
}

ol.answers li.answer {
	text-decoration: underline;
}

.chosen-question {
  border: 2px solid red;
}

.answer-block {
	border: 1px solid #666;
	margin-top: 10px;
}

.choices {
	width: 310px;
	float: left;
	margin-right: 5px;
}

.analysis {
	width: 350px;
	float: right;
	margin: 10px 5px;
	display: none;
}

#summary {
	font-size: 75%;
	margin: 10px;
}

#gradebook-table {
	border-collapse: collapse;
  margin: 10px auto;
}

#gradebook-table th {
	border-bottom: 1px solid #333;
}

#gradebook-table th, #gradebook-table th a {
  background: #9b2f47;
  color: white;
}

#gradebook-table th, td {
	padding: 4px;
  border: 1px solid #333;
}

#gradebook-table td.name {
  background: #d6abb5;
}

#gradebook-table td.name, #gradebook-table th.name {
  border-right: 2px solid #333;
}

#gradebook-table .data {
	text-align: right;
}

.quiz_create select {
	width: 3.5em;
}

#announcements {
  width: 448px;
	margin: 10px;
  float: left;
}
