html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  background: #333333; }

body {
  font-family: verdana, arial, sans-serif;
  font-size: 11pt;
  background: #333333;
  background: #111313;
  background: -moz-linear-gradient(from(#111313), to(#333333)) no-repeat #111313;
  background: -webkit-gradient(linear, left top, left bottom, from(#111313), to(#333333)) no-repeat #111313; }

br {
  clear: both;
  height: 0; }

em {
  font-style: oblique;
  font-weight: normal; }

img {
  border: none; }

h1 {
  display: block;
  margin: 0 auto;
  width: 798px;
  height: 100px;
  border: 1px solid #222627;
  border-width: 0 1px;
  background: white url("/images/learnstat-logo.png") no-repeat; }
  h1 span {
    display: none; }

h2 {
  font-family: georgia, serif;
  font-size: 24px;
  color: #333333;
  margin: 4px 10px; }

h3 {
  font-family: georgia, serif;
  font-size: 16px;
  margin: 4px 10px; }

.block {
  background: white;
  color: black;
  margin: 10px 15px;
  padding: 10px;
  border: 2px solid #333333;
  font-family: verdana, arial, sans-serif;
  font-size: 14px; }

#login_box {
  background: #696969;
  width: 650px;
  margin: 10px auto;
  border: 1px solid #333333;
  padding: 0;
  color: white;
  font-family: georgia, serif; }
  #login_box .options {
    float: left;
    width: 262px; }
  #login_box p.criteria {
    margin: 0 auto 10px auto;
    text-align: center;
    border-bottom: 1px solid #222627;
    font-family: arial, sans-serif;
    font-size: 16px;
    font-variant: small-caps;
    font-weight: bold; }
  #login_box div.input {
    margin-bottom: 10px; }
    #login_box div.input label {
      display: block;
      float: left;
      clear: left;
      text-align: right;
      margin-right: 5px;
      width: 90px;
      font-size: 10px;
      font-weight: bold; }
    #login_box div.input input.string, #login_box div.input input.email, #login_box div.input input.password {
      width: 125px; }
  #login_box .submit {
    text-align: center; }

div.block_head {
  color: white;
  background: url("/images/rounded_top.png") top left no-repeat;
  height: 26px;
  width: 720px;
  padding: 4px;
  border-bottom: 1px solid #333333;
  font-size: 20px;
  font-weight: bold;
  margin: 0 auto; }

div.block_head a {
  color: white; }

div.block_body {
  background: url("/images/rounded_bottom.png") bottom left no-repeat;
  width: 708px;
  margin: 0 auto 20px auto;
  padding: 10px;
  clear: both; }

div.block_information {
  margin: 8px 0 0 0;
  text-align: right;
  font-style: italic;
  font-size: 85%; }

div.small_block {
  width: 300;
  float: right;
  clear: right;
  margin: 0 5px; }

div.small_block_head {
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background: url("/images/rounded_small_top.png") top left no-repeat;
  height: 20px;
  width: 292px;
  padding: 4px;
  border-bottom: 1px solid #333333; }

div.small_block_body {
  background: url("/images/rounded_small_bottom.png") bottom left no-repeat;
  width: 284px;
  padding: 8px;
  margin-bottom: 20px;
  font-size: 85%; }

.information {
  font-style: italic;
  font-size: 60%; }

pre {
  background-color: #eeeeee;
  padding: 10px;
  font-size: 11px; }

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #a94343; }

a:hover {
  text-decoration: underline; }

p {
  padding: 5px 10px; }

p.instructions {
  width: 75%;
  margin: 10px;
  padding: 4px;
  border: 1px solid #999999;
  color: #333333; }

ul, ol {
  margin: 10px 35px; }

ul.quizzes li {
  margin-bottom: 20px; }

#navbar {
  margin: 0 auto;
  background: url(/images/stripes.png) top left repeat-x;
  width: 798px;
  border: 1px solid #222627;
  border-width: 1px;
  font-weight: bold;
  font-size: 85%;
  font-variant: small-caps;
  text-align: center;
  padding: 4px 0 !important;
  padding: 0; }
  #navbar a {
    color: #eeeeee; }
    #navbar a:hover {
      color: #990000; }
  #navbar p {
    padding: 0 4px;
    color: #f0f0f0; }
  #navbar p.left {
    float: left;
    width: 185px;
    text-align: left; }
  #navbar p.middle {
    width: 400px;
    float: left;
    color: white;
    text-align: center; }
  #navbar p.right {
    float: right;
    width: 185px;
    text-align: right; }

#menubar {
  margin: 0 auto;
  background: white;
  background: -moz-linear-gradient(from(white), to(#999999)) no-repeat white;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#999999)) no-repeat white;
  width: 798px;
  border: 1px solid #222627;
  border-width: 0 1px;
  font-size: 110%;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center; }
  #menubar a {
    color: #e0e0e0;
    padding: 5px; }
    #menubar a img {
      behavior: url(/iepngfix.htc);
      vertical-align: bottom; }
    #menubar a:hover, #menubar a.selected {
      background: url(/images/menu_background.png) bottom left repeat-x;
      color: #222627; }

#content {
  background: white;
  margin: 0 auto;
  padding: 6px 0;
  width: 798px;
  border: 1px solid #222627;
  border-width: 0 1px;
  min-height: 200px;
  clear: both; }

#footer {
  clear: both;
  margin: 0 auto;
  padding: 5px 0;
  text-align: center;
  background: url(/images/stripes.png) bottom left repeat-x;
  width: 798px;
  border: 1px solid #222627;
  color: #dfe9e1;
  font-weight: bold;
  font-size: 85%;
  font-variant: small-caps; }
  #footer a {
    color: #dfe9e1; }

div.uploadStatus {
  margin: 5px; }

div.progressBar {
  margin: 5px; }
  div.progressBar div.border {
    background-color: white;
    border: 1px solid grey;
    width: 100%; }
  div.progressBar div.background {
    background-color: #333333;
    height: 18px;
    width: 0%; }

li.question {
  margin-bottom: 40px; }

.question a {
  display: block;
  text-align: right; }

li.added {
  border: 2px solid green; }

li.added a {
  display: none; }

ol.answers {
  list-style-type: lower-alpha;
  margin-bottom: 25px; }

ol.answers li:hover {
  cursor: pointer;
  background: #ccccff; }

ol.answers li.selected {
  color: green; }

ol.answers li.answer {
  text-decoration: underline; }

.chosen-question {
  border: 2px solid red; }

.answer-block {
  border: 1px solid #666666;
  margin-top: 10px; }

.choices {
  width: 310px;
  float: left;
  margin-right: 5px; }

.analysis {
  width: 350px;
  float: right;
  margin: 10px 5px;
  display: none; }

#summary {
  font-size: 75%;
  margin: 10px; }

table {
  border-collapse: collapse;
  margin: 10px auto;
  font-size: 75%;
  border-bottom: 1px solid #333333; }

table th {
  background: #9b2f47;
  color: white; }

table th a, table th a:link, table th a:visited, table th a:active {
  color: white; }

table th, table td {
  padding: 4px;
  border: 1px solid #333333; }

table td.name {
  background: #d6abb5; }

table td.name, table th.name {
  border-right: 2px solid #333333; }

table .data {
  text-align: right; }

.quiz_create select {
  width: 3.5em; }

#announcements {
  width: 448px;
  margin: 10px 5px 10px 5px;
  float: left; }

#announcements div.block_head {
  background: url("/images/rounded_medium_top.png") top left no-repeat;
  height: 20px;
  width: 450px;
  padding: 4px;
  font-size: 18px;
  font-weight: bold; }

#announcements div.block_body {
  background: url("/images/rounded_medium_bottom.png") bottom left no-repeat;
  width: 442px;
  padding: 8px;
  margin-bottom: 10px; }

.instructor_link img {
  margin-right: 4px;
  vertical-align: bottom; }

dl dd {
  font-size: 75%;
  margin-left: 8px; }

.collection_link {
  margin-top: 10px;
  font-size: 75%;
  text-align: right; }

.search {
  float: right; }

.hidden {
  display: none; }

.right {
  float: right; }

.centered {
  text-align: center; }

.numeric {
  text-align: right; }

.working:before {
  content: "working..."; }

.data-table {
  width: 100%;
  margin: 0; }
  .data-table td, .data-table th {
    padding: 2px 6px; }
  .data-table tbody {
    border: 1px solid #aaaaaa; }
  .data-table .odd {
    background-color: #e3e3e3; }
  .data-table .even {
    background-color: #f9f9f9; }

.dataTables_wrapper .fg-toolbar {
  padding: 4px 8px; }

.dataTables_length {
  float: right; }

.dataTables_filter {
  float: left; }

.dataTables_info {
  float: left; }

.dataTables_paginate {
  float: right; }
  .dataTables_paginate span.fg-button {
    padding: 0 10px; }

.simple_form label {
  float: left;
  text-align: right;
  margin: 2px 10px;
  width: 90px;
  font-size: 10px;
  font-weight: bold; }
.simple_form div.required {
  color: red; }
.simple_form div.field_with_errors input {
  border: 2px solid red; }
.simple_form div.field_with_errors span.error {
  clear: left;
  display: block;
  float: left;
  text-align: right;
  font-size: 10px;
  margin: 2px 10px;
  width: 90px; }
.simple_form div.input {
  padding-bottom: 10px;
  clear: both; }
.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px; }
.simple_form div.boolean label {
  float: none;
  margin: 0; }

#notice, #alert {
  width: 794px;
  clear: both;
  margin: 0px auto 6px auto;
  padding: .5em 0;
  color: #dfe9e1;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  line-height: 1em;
  border: 2px solid #222627;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-box-shadow: 0px 0px 15px #222627;
  -webkit-box-shadow: 0px 0px 15px #222627; }

#notice {
  background: #437da9;
  background: -moz-linear-gradient(from(#437da9), to(#64bbfd)) no-repeat #437da9;
  background: -webkit-gradient(linear, left top, left bottom, from(#437da9), to(#64bbfd)) no-repeat #437da9; }

#alert {
  background: #a94343;
  background: -moz-linear-gradient(from(#a94343), to(#fd6464)) no-repeat #a94343;
  background: -webkit-gradient(linear, left top, left bottom, from(#a94343), to(#fd6464)) no-repeat #a94343; }

.spacer {
  clear: both;
  height: 1px; }

.clear {
  clear: both; }
