<h2 class="accessible">Open Quizzes</h2>

<ul>
			
<% @open_quizzes.each do |quiz| %>

  <li>
    <%= link_to quiz.name, :action => :show, :id => quiz.id %>,
    Due <%= datetime_format(quiz.due) %>
    <%= ", #{percent_format(quiz.participation)} participation" if current_user.instructor? %>
  </li>
			
<% end %>

<%= 'There are no open quizzes at this time.' if @open_quizzes.empty? %>
				
</ul>
