- if document.viewable_now? or instructor?

  .block_head= document_title(document)
  .block_body
    = link_to document.filename, @document.full_filename
    .block_information= document_information(document)
