%h2 New document

= error_messages_for :document

- form_for(:document, :url => course_documents_path(@course), :html => { :multipart => true } ) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = submit_tag "Upload"
    = link_to 'Cancel', course_path(@course)
