<h2 class="accessible">Gradebook</h2>

<table id="gradebook-table">

	<thead>
	<tr>
		<th class="name">Student</th>
		<% @course.quizzes.each do |quiz| %>
			<th> <%= link_to quiz.name, course_quiz_path(@course, quiz) %> </th>
		<% end %>
	</tr>
	</thead>

	<tbody>
	<% @course.students.each do |student| %>

		<tr>
			<td class="name"> <%= student.name %> </td>

			<% @course.quizzes.each do |quiz| %>
				<td class="data"> <%= percent_format @gradebook[student.id][quiz.id] %> </td>
			<% end %>
		</tr>

	<% end %>

  <%= '<tr><td>No Students</td></tr>' if @course.students.empty? %>
	</tbody>

</table>
