<div id="tabNavigation">
	<ul>
		<li id="nav-announcements"><a href="javascript: void(0)" onclick="switchTab('announcements')">Announcements</a></li>
		<li id="nav-documents"><a href="javascript: void(0)" onclick="switchTab('documents')">Documents</a></li>
		<li id="nav-openQuizzes"><a href="javascript: void(0)" onclick="switchTab('openQuizzes')">Open Quizzes</a></li>
		<li id="nav-closedQuizzes"><a href="javascript: void(0)" onclick="switchTab('closedQuizzes')">Closed Quizzes</a></li>
		<li id="nav-gradebook"><a href="javascript: void(0)" onclick="switchTab('gradebook')">Gradebook</a></li>
	</ul>
</div>
