%h2 Latest Announcements

#announcements= format_announcements(@latest_announcements)

= small_block('Latest Documents', format_documents(@latest_documents))
= small_block('Open Quizzes', 'Nothing yet')
= small_block('Latest Grades', 'Nothing yet')
