<%= render :partial => 'tabs' %>

<div id="tabs">
	
	<div id="announcements-tab"> <%= render :partial => 'announcements' %> </div>
	<div id="documents-tab"> <%= render :partial => 'documents' %> </div>

	<div id="openQuizzes-tab"> <%= render :partial => 'open_quizzes' %> </div>
	<div id="closedQuizzes-tab"> <%= render :partial => 'closed_quizzes' %> </div>

  <div id="gradebook-tab"> <%= render :partial => 'gradebook' %> </div>

</div>
