<h1>New question_response</h1>

<%= error_messages_for :question_response %>

<% form_for(:question_response, :url => question_responses_path) do |f| %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', question_responses_path %>