%p= form.input :name
%p= form.input :given_on, :as => :date
%p= form.input :final, :as => :boolean

%table
  %tr
    %th Name
    %th Grade

  - @exam.course.students.each do |student|
    = form.fields_for :grades, @exam.grades.build(:user => student) do |grade_form|
      %tr
        %td= student
        %td
          = grade_form.hidden_field :user_id, :value => student.id
          = grade_form.text_field :value, :size => 4
